 body {
    font-family: Helvetica, sans-serif;
 }

 header {
    position: relative;
    border-bottom: 2px solid #444;
 }

 nav {
    position: absolute;
    bottom: 0;
    right: 0;
    padding-bottom: 1.3em;
    margin-right: 34%;
 }

 nav a {
    display: block;
    text-decoration: none;
    color: orange;
    font-size: 1.1em;
 }

 nav li {
    display: inline-block;
    padding-right: 2em;
    
 }

 nav li a:hover{
    background-color: green;
    color: white;
 }