.ar-16x9 {
    overflow: hidden;/* width:1280px; hight:720px - това е точно 16/9 размер*/
    background: black;
    position: relative;
    border: 2px solid greenyellow;
}

.ar-16x9:after /* това е псевдо елемент */{
    display: block;
    content: '';
    padding-top: 56.25%;
}

.ar-16x9 img {
    display: block;
    width: 100%;
    height: auto;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
}